@import "tailwindcss";
@import "tailwindcss-primeui";

@import 'primeicons/primeicons.css';

@theme{
    --radius-xs: 0.25rem;
    --radius-sm: 0.375rem;
    --radius-md: 0.5rem;
    --radius-lg: 0.75rem;
    --radius-xl: 1rem;
    --radius-2xl: 1.5rem;
    --radius-3xl: 2rem;
    --radius-4xl: 2.75rem;

    --ease-in-bounce: cubic-bezier(0.68,-0.55,0.27,1.55);

    --shadow-hover-xl: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);


}

body {
    font-family: Tahoma, sans-serif;
}